<html>
    <link rel="stylesheet" href="../dashboard/dashboard.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="shortcut icon" href="assets/programacao.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <header class="header">
        <nav class="nav">
            <div class="div-logo">
                <span class="material-icons" id="icon-school">school</span>
                <span class="logo-text">StudyFlow</span>
            </div>
            <div class="div-title-icon" routerLink="/dashboard" routerLinkActive="active-tab">
                <span class="material-icons icons">house</span>
                <li class="nav-item">Dashboard</li>
            </div>
            <div class="div-title-icon" routerLink="/materias" routerLinkActive="active-tab">
                <span class="material-icons icons">menu_book</span>
                <li class="nav-item">Matérias</li>
            </div>
            <div class="div-title-icon" routerLink="/tarefas" routerLinkActive="active-tab">
                <span class="material-icons icons">task_alt</span>
                <li class="nav-item">Tarefas</li>
            </div>  
            <div class="div-title-icon" routerLink="/calendario" routerLinkActive="active-tab">
                <span class="material-icons icons">calendar_month</span>
                <li class="nav-item">Calendário</li>
            </div>
        </nav>
        <div class="account">
            <div class="photo">
                <span class="material-icons icon">person</span>
            </div>
            <div class="div-text-profile">
                <details>
                    <summary class="profile">Ver perfil</summary>
                    <div class="menu-dropdown">
                        <span class="my-accont" (click)="openModal()">Minha Conta</span>
                        <span class="delete" (click)="deleteAccount()">Excluir minha conta</span>
                        <span class="exit" (click)="exit()">Sair</span>
                    </div>
                </details>
            </div>
        </div>
    </header>
    <body>
        <div class="text-welcome">
            <h1 class="title-welcome">Olá, {{ getName }}! <span class="material-icons icons-text-welcome">waving_hand</span></h1>
            <span class="paragraph-welcome">Bem-vindo de Volta! Organize seus estudos, acompanhe seu progresso e alcance seus objetivos.</span>
        </div>
        
    </body>
</html>