<html>
    <link rel="stylesheet" href="../products-list/products-list.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="shortcut icon" href="assets/programacao.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <header class="header">
        <nav class="nav">
            <div class="div-logo">
                <span class="material-icons" id="icon-school">school</span>
                <span class="logo-text">StudyFlow</span>
            </div>
            <span class="material-icons icons">house</span>
            <li class="nav-item">Dashboard</li>
            <span class="material-icons icons">book</span>
            <li class="nav-item">Matérias</li>
            <span class="material-icons icons">book</span>
            <li class="nav-item">Estudos</li>
            <span class="material-icons icons">calendar_month</span>
            <li class="nav-item">Calendário</li>
        </nav>
    </header>
</html>