<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 class="title">Minha conta</h1>
    <div class="container">
        <div class="container-second">
            <div class="container-third">
                <label for="">Nome:</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="container-third">
                <label for="">Email:</label>
                <input type="text" name="email" id="email">
            </div>
            <div class="container-third">
                <label for="">Senha:</label>
                <input type="text" name="password" id="password">
            </div>
        </div>
        <div class="container-buttons">
            <button type="submit" class="submit">Salvar</button>
            <button type="button" class="button" (click)='closeModal()'>Cancelar</button>
        </div>
    </div>
    
</body>
</html>