/* Limpeza geral de margens */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:host {
    display: block;
    background-color: #ffffff;
    border: 8px solid #bba486;
    border-radius: 25px;           
    width: 310px;   
    height: 400px;       
    overflow: hidden !important; 
}

:host ::ng-deep .mat-mdc-dialog-container,
:host ::ng-deep .mat-mdc-dialog-inner-container,
:host ::ng-deep .mdc-dialog__surface {
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    overflow: hidden !important;
}

.title {
    text-align: center;
    margin-top: 25px;
    font-size: 2.2em;
    font-weight: bold;
    color: #2c2c2c;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
    width: 100%;
}

.container-second {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%; 
}

.container-third {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.container-third > label {
    font-size: 1.2em;
    font-weight: bolder;
    color: #333;
}

.container-third > input {
    width: 100%; 
    border: 1px solid #bba486;
    background-color: #f9f9f9;
    font-size: 1.1em;
    outline: none;
    border-radius: 8px; 
    padding: 12px;
}

.container-buttons {
    display: flex;
    flex-direction: row; 
    gap: 15px;
}

.container-buttons button[type="button"],
.container-buttons button[type="submit"] {
    flex: 1;                  
    padding: 12px;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 10px;      
    transition: all 0.2s ease-in-out;
    text-align: center;
    background-color: #bba486;
    border: none;
    -webkit-appearance: none;
}

@media (min-width: 390px) and (max-width: 430px) {
    :host {
        height: 450px;
    }

    .container-third > label {
        font-size: 1.4em;
    } 

    .container-third > input {
        height: 50px;
        font-size: 1.3em;
    }

    .container-buttons  {
        margin-top: 15px;
        height: 50px;
        font-size: 1.2em;
    }
}

@media (min-width: 344px) and (max-width: 344px) {
    :host {
        width: 290px;
    }
}

@media (min-width: 768px) and (max-width: 853px) {
    :host {
        width: 500px;
        height: 570px;
    }

    .title {
        font-size: 2.5em;
    }

    .container-third > label {
        font-size: 1.7em;
        margin-left: 5px;
    }

    .container-second {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .container-third > input {
        height: 60px;
        font-size: 1.7em;
    }

    .container-buttons {
        margin-top: 30px;
        height: 70px;
        font-size: 1.5em;
    }
}

@media (min-width: 912px) and (max-width: 1024px) {
    :host {
        width: 500px;
        height: 600px;
    }

    .title {
        font-size: 2.9em;
    }

    .container-third > label {
        font-size: 1.9em;
        margin-left: 5px;
    }

    .container-second {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 20px;
    }

    .container-third > input {
        height: 60px;
        font-size: 1.7em;
    }

    .container-buttons {
        margin-top: 30px;
        height: 70px;
        font-size: 1.5em;
    }
}

@media (min-height: 600px) and (max-height: 600px) {
    :host {
        width: 500px;
        height: 500px;
    }

    .title {
        font-size: 2.4em;
    }

    .container-third > label {
        font-size: 1.5em;
        margin-left: 5px;
    }

    .container-second {
        display: flex;
        flex-direction: column;
        gap: 10px;
        transform: translateY(-10px);
    }

    .container-third > input {
        height: 55px;
        font-size: 1.4em;
    }

    .container-buttons {
        display: flex;
        flex-direction: column;
        height: 60px;
        transform: translateY(-25px);
        font-size: 1.3em;
    }
}

@media (min-height: 800px) and (max-height: 800px) {
    :host {
        width: 500px;
        height: 500px;
    }

    .title {
        font-size: 2.4em;
    }

    .container-third > label {
        font-size: 1.5em;
        margin-left: 5px;
    }

    .container-second {
        display: flex;
        flex-direction: column;
        gap: 10px;
        transform: translateY(-10px);
    }

    .container-third > input {
        height: 55px;
        font-size: 1.4em;
    }

    .container-buttons {
        display: flex;
        flex-direction: column;
        height: 65px;
        font-size: 1.3em;
    }
}

@media (min-width: 1290px) {
    :host {
        width: 500px;
        height: 550px;
    }

    .title {
        font-size: 2.4em;
    }

    .container-third > label {
        font-size: 1.5em;
        margin-left: 5px;
    }

    .container-second {
        display: flex;
        flex-direction: column;
        gap: 20px;
        transform: translateY(10px);
    }

    .container-third > input {
        height: 55px;
        font-size: 1.4em;
    }

    .container-buttons {
        display: flex;
        flex-direction: column;
        height: 120px;
        font-size: 1.3em;
        transform: translateY(20px);
    }

    .container-buttons button[type="button"]:hover,
    .container-buttons button[type="submit"]:hover {
        background-color: #b57d34;
        cursor: pointer;
    }
} 