<html>
    <div class="container">
        <div class="div-login">
            <h2 class="title">Bem-Vindo a tela de Login!!</h2>
            <form class="form-login">
                <label for="username" class="label-name">Nome de Usuário:</label>
                <input type="text" id="username" name="username" required class="input-name">

                <label for="password" class="label-password">Senha:</label>
                <input type="password" id="password" name="password" required class="input-password">

                <button type="submit" class="button">Entrar</button>
                <a href="#" class="link">Esqueceu a senha?</a>
            </form>
        </div>
        <div class="div-image">
            <img src="https://img.freepik.com/fotos-gratis/pessoa-usando-laptop_53876-95246.jpg?semt=ais_hybrid&w=740&q=80" alt="Foto de pessoa se cadastrando no computador" class="image">
        </div>
    </div>
</html>