<div class="subject-container">
  <h1 class="title-subject"> 
    <span class="material-icons icons-subject-container">menu_book</span>
    Matérias
  </h1>
  <span class="paragraph-subject">Organize suas matérias e acompanhe seu progresso.</span>
  <div class="button-add-subject">
    <button type="submit" class="button"><span class="material-icons">add</span> Nova Matéria</button>
  </div>
  <div class="search-bar">
    <span class="material-icons icon-search">search</span>
    <input type="text" class="text-search-bar" placeholder="Pesquisar matéria...">
  </div>
  <div class="body-subject">
    <span class="paragraph-without-task">Nenhuma matéria registrada no momento.</span>
  </div>
  <div class="pagination">
    <span class="pagination-info">Mostrando 0 de 0 Matérias</span>
  </div>
</div>