* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.subject-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    margin-left: 15px;
    font-size: 0.8em;
    margin-top: -80px;
}

.icons-subject-container {
    vertical-align: middle;
    color: #835814;
    font-size: 1.3em;
}

.paragraph-subject {
    line-height: 1.3em;
    width: 70%;
    font-size: 1.1em;
    color: gray;
}

.title-subject {
    display: flex;
    gap: 10px;  
    justify-content: center;
    align-items: center;
}

.button-add-subject {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.button {
    background-color: rgb(104, 55, 17);
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 7px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.button:active {
    background-color: #502a0d;
    transform: scale(0.96);
}

@media (min-width: 344px) and (max-width: 360px) {
    .subject-container {
        width: 90%;
    }
}

@media (min-width: 412px) and (max-width: 430px) {
    .paragraph-subject {
        font-size: 1.2em;
    }
}

@media (min-width: 414px) and (max-width: 414px) {
    .paragraph-subject {
        font-size: 1.2em;
        width: 75%;
    }
}

@media (min-width: 540px) and (max-width: 540px) {
    .subject-container {
        margin-top: -106px;
    }

    .subject-container > .title-subject {
        font-size: 2.2em;
    }

    .subject-container > .title-subject > .icons-subject-container {
        font-size: 1.1em;
    }

    .subject-container > .paragraph-subject {
        font-size: 1.4em;
        width: 65%;
    }

}

@media (min-width: 768px) and (max-width: 912px) {
    .subject-container {
        margin-top: -95px;
        display: flex;
        gap: 10px;
        margin-right: 20px;
    }

    .subject-container > .title-subject {
        font-size: 3.4em;
    }

    .subject-container > .title-subject > .icons-subject-container {
        font-size: 1em;
    }

    .subject-container > .paragraph-subject {
        font-size: 1.9em;
    }

    .button-add-subject {
        display: flex;
        align-self: flex-end;
        margin-top: 30px;
    }

    .button {
        width: 160px;
        height: 60px;
        font-size: 1.7em;
    }

}

@media (min-height: 1280px) and (max-height: 1280px) {
    .subject-container {
        font-size: 0.8em;
        margin-left: 30px;
    }

    .button-add-subject {
        display: flex;
        align-self: flex-end;
        margin-top: 30px;
        margin-right: 30px;
    }

    .button {
        width: 170px;
        height: 60px;
        font-size: 1.7em;
    }
}

@media (min-width: 1280px) and (max-width: 1280px) {
    .subject-container {
        margin-top: -100px;
        margin-left: 40px;
        font-size: 0.9em;
    }

    .subject-container > .title-subject {
        font-size: 3.5em;
    }
    
    .subject-container > .title-subject > .icons-subject-container {
        font-size: 1em;
        margin-bottom: 2px;
    }

    .subject-container > .paragraph-subject {
        font-size: 2.3em;
    }

    .button-add-subject {
        display: flex;
        align-self: flex-end;
        margin-top: 30px;
        margin-right: 100px;
    }

    .button {
        width: 200px;
        height: 60px;
        font-size: 1.7em;
    }
}

@media (min-height: 600px) and (max-height: 600px) { 
    .subject-container {
        margin-top: -105px;
        margin-left: 30px;
        font-size: 1em;
    }

    .subject-container > .title-subject {
        font-size: 2.7em;
    }

    .subject-container > .title-subject > .icons-subject-container {
        font-size: 1em;
        margin-bottom: 3px;
    }
 
    .subject-container > .paragraph-subject {
        font-size: 1.8em;
    }

    .button-add-subject {
        display: flex;
        align-self: flex-end;
        margin-top: 40px;
        margin-right: 70px;
    }

    .button {
        width: 190px;
        height: 60px;
        font-size: 1.5em;
    }

}

@media (min-height: 1366px) and (max-height: 1366px) {
    .subject-container {
        margin-top: -105px;
        margin-left: 30px;
        font-size: 0.9em;
    }

    .subject-container > .title-subject {
        font-size: 3.4em;
    }

    .subject-container > .title-subject > .icons-subject-container {
        font-size: 1em;
        margin-bottom: 5px;
    }

    .subject-container > .paragraph-subject {
        font-size: 2.1em;
    }

    .button-add-subject {
        display: flex;
        align-self: flex-end;
        margin-top: 30px;
        margin-right: 60px;
    }

    .button {
        width: 200px;
        height: 60px;
        font-size: 1.7em;
    }
}

@media (min-height: 1368px) and (max-height: 1368px) {
    .subject-container {
        font-size: 0.9em;
        margin-left: 30px;
    }

    .button-add-subject {
        display: flex;
        align-self: flex-end;
        margin-top: 25px;
        margin-right: 25px;
    }

    .button {
        width: 190px;
        height: 60px;
        font-size: 1.7em;
    }
}

@media (min-width: 1290px) {
    .subject-container {
        margin-top: 50px !important;
        margin-left: 18% !important;
        transform: translateX(50px);
        display: flex;
        gap: 10px;
    }

    .subject-container > .title-subject {
        font-size: 3em;
    }

    .subject-container > .title-subject > .icons-subject-container {
        font-size: 1em;
        margin-bottom: 3px;
    }

    .subject-container > .paragraph-subject {
        font-size: 1.6em;
    }

    .button-add-subject {
        display: flex;
        align-self: flex-end;
        margin-right: 80px;
        margin-top: -75px;
    }

    .button {
        width: 180px;
        height: 50px;
        font-size: 1.7em;
        cursor: pointer;
    }

    .button:hover {
        background-color: #502a0d;
    }
}